/*--------- UNIVERSAL SELECTOR-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

/*--------- BODY-----------*/
body{
    width: 100%;
    height: 100%;
    background-color:black;
    display: flex;
    
    
}
/*--------- SIDE BAR-----------*/
.sidebar{
    width:350px;
    height:80%;
    position: relative;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    background-color: #fff;

}
/*--------- LOGO-----------*/
.logo{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}
/*--------- HAMBURGER-----------*/
.hamburger {
    position: absolute;
    top:10px;
    right:5px;
    display:none
}

.line {
    width:15px;
    height:5px;
    background-color:black;
    margin:2px;

}
/*--------- SIDE LINKS-----------*/
.nav-links{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.nav-links li{
    padding: 10px;
    margin: 0 0 5px 0;
    border:1px solid black;
    background-color: black;
    
}
.nav-links li a {
    color:#fff;
    text-decoration: none;
    margin-left: 25px;
      
}
.nav-links img {
    vertical-align: middle;
    display: inline-block;
}
.sidebar .nav-links .category {

    background-color: #974a6d;
    width: 30px;
    height: 55px;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 0;
    top:63px;

}


/*----------------------------------UPGRADE-----------------------------*/
.upgrade{
    width:90%;
    padding-right: 30px;
    margin-top:20rem;
    margin-bottom: 20px;
    margin-left: 12px;
    border-radius: 10px;
    align-items: center;
    background-color: #edececfb;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 14px 29px -48px rgba(201,198,198,0.75);
}
.upgrade button{
    width:200px;
    padding: 15px;
    font-size: 18px; 
    background-color:teal;
    color: #fff;
    font-weight: 700;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
 
}

/*----------=========== END OF UPGRADE===============*/

    
/*---======================================= END OF SIDE BAR =========================================-------*/    

/*----------------------------------CONTAINER-----------------------------*/
.mycontainer{
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ececec;
   

}

/*----------------------------------HEADER-----------------------------*/
.mycontainer .header{   
    width:100%;
    height:68px;
    display: flex;
    margin: 0;
    background: #fcf9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header .nav{
  width:100%;
  align-items: center;
  justify-content: space-evenly;
}
.course h5{
   font-size: 20px;
   padding-top: 5px;
   
}
.nav .search-bar{
    width:60%;
    max-width: 370px;
    height: 50px;
    padding: 16px ;
    display: flex;
    justify-content: space-between;
    align-items:center;  
    border: 1px solid ;
    border-style: ridge;
    border-radius: 50px;
    box-shadow:0 4px 10px 0 rgba(0, 0, 0, 0.2) ;

}
.nav .search-bar p{
    margin-top: 12px;
}

.nav .course{
    padding-top: 20px;
}


.header .profile{
    display: flex;
    padding-left: 50px;
    gap:30px;
}

/*----------======================= END OF CONTAINER============================-----------------*/


/*----------------------------------DOUGHNUT CHART.JS------------------------------------------*/

.charty {
    
    position: relative;
    width: 100%;
    height:250px;
    padding-bottom: 40px;
    
       
}
.c1, .c2, .c3{
    width: 40%;
   
}
.pad{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 26px;
    align-content: center;
    justify-content: space-evenly;
    

}

.chart1 {
    padding-top: 30px;
    width:30%;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    height:200px;
    border-radius: 20px;
    background-color: rgba( 0 0 0 / 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart2 {
    padding-top: 30px;
    width:30%;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    height:200px;
    border-radius: 20px;
    background-color: rgba( 0 0 0 / 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.chart3{
    padding-top: 30px;
    margin-left: 10px;
    width:30%;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    height:200px;
    background-color: rgba( 0 0 0 / 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.chart1 .percent1{
    font-size: 20px;
    position: absolute;
    margin-left: 45px;
    top: 89px;
    font-weight: 600;
}
.chart2 .percent2{
    font-size: 20px;
    position: absolute;
    margin-left: 45px;
    top: 89px;
    font-weight: 600;
}
.pad .percent3{
    font-size: 20px;
    position: absolute;
    margin-left: 45px;
    top: 89px;
    font-weight: 600;
}

.daily{
    padding-top: 30px;
    padding-right: 80px ;

}

.daily h3{
    font-size: 20px;
    font-weight: 700;
    
}

/*----------================= END OF DOUGHNUT CHART JS=======================------*/

/*------------------------------TABLE------------------------------ */

.tablecolumn {
    width:98%;
    border-style:none;   
    box-shadow: 0 0 0  #666;
    border-radius: 30px;
    overflow-x: auto;
    margin-bottom: 50px;
    margin-left: 30px;
    background: #fcf9f9;
    
    
}

.table {
    width: 100%;
    border-collapse: collapse;
}


/*------------------------- TABLE HEADER ----------------- */
.table thead {
    background-color: #000;
    color:#fff;
   
   
}

/*--------------- TABLE HEAD AND DATA CELLS------------------------*/
.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
}


 /*---------------------------------BANNER--------------------------------*/
 .banner{
    border:1px solid black;
    max-width: 95%;
    background: #000;
    margin-left: 30px;
    border-radius: 20px;
    color: #fff;
    height: 200px; 
    margin-bottom: 20px;
    
 }
 /*------------- H1, P , BUTTON DIV-------*/
 .banner .text{
    margin-left: 60px;
    margin-top: 14px;
    width: 80%;
   
 }
 /*--------- BANNER H1 -----------*/
 .banner .text h1{
    font-size: 45px;
    letter-spacing: 8;
    font-weight: 700;
 }
 /*--------- BANNER PTAG -----------*/
 .banner p{  
    margin: 0;
    font-size: 9px;
 }
/*--------- BANNER BUTTON -----------*/
 .banner button{
    margin-top: 15px;
    width:200px;
    padding: 15px;
    font-size: 18px; 
    color:rgb(148, 77, 88);
    font-weight: 700;
    border-radius: 50px;
 }
 /*--------- BANNER FEMALE IMAGE -----------*/
 .banner .lady{ 
    bottom:20px;
    position: absolute;
    right:10px;


      
 }
 /*----------------------------------------- MEDIA QUERY--------------------------------------------*/
@media (max-width:480px) {
    body{
        width:100%;
        display:flex;
        flex-direction:column;
       
    }
      /*--------------------------------- SIDEBAR----------------------------- */
    .sidebar{
        max-height: 100%;
        
    }
    .hamburger{
        display:block;
       }
   .menu{
    display:none;
   }
   .sidebar .nav-links .category{
    left: 0;
    height:51px;
    top:60px;
   }
   
   .sidebar .upgrade{
    margin-top: 10px;
    margin-left: 30px;
   }
     /*--------------------------------- HEADER----------------------------- */
   .mycontainer .header{
    width: 100%;
    height: 100%;
    
   }
   .header .nav{
    margin: 10px;
  
   }
   .course h5{
    font-weight: 700;
   }

  /*--------------------------------- CHART.JS----------------------------- */

   .charty{ 
    height:100%;
    margin:0 auto;
   }

    .pad {
        flex-direction: row;
           
    }

    .chart1,
    .chart2,
    .chart3 {
        display:flex;
        flex-direction: column;
        min-width: 30%;
        margin: 10px;
        padding:10px;
        
        
    }

    .c1, .c2, .c3{
        
        margin-left:2px;
        min-width:100px;
       
    }

    .c1 .percent1,
    .c2 .percent2,
    .c3 .percent3
      {
     top:55px;
     margin-left: 30px;
     font-size: 18px;
     font-weight: 700;
        
    }

    .daily h3{
        font-weight: 900;
    }
    
    .daily p{
        font-size: 20px;
    }
    
    .daily {
        padding-right: 0;
        text-align: center;
        padding-top: 20px;
    }

      /*--------------------------------- TABLE----------------------------- */
    .tablecolumn{
        min-width:80%;
        margin: 10px;
        position: relative;
    }
    .table th, .table td {
        padding: 2px;
    }
    .table td{
        font-size:15px;
        font-weight: 700;
    }
 /*--------- BANNER  -----------*/
    .banner{
        max-width: 100%;
        max-height:100%;
        margin: 10px;
    }
    .banner .text{
        margin-left: 10px;
        margin-top: 14px;
        width: 55%;
}
 /*--------- BANNER h1 TAG -----------*/
    .banner .text h1{
       font-size: 20px;
       letter-spacing:6 ;
       font-weight: 500;
 }
 /*--------- BANNER PTAG -----------*/
 .banner p{  
    margin: 0;
    font-size: 13px;
    font-weight: 400;
   
 }
 /*--------- BANNER BUTTON -----------*/
 .banner button{
    margin-top: 6px;
    width:170px;
    padding:3px;
    font-size: 20px;  
    font-weight: 700;
   
 }
 /*--------- BANNER FEMALE IMAGE -----------*/
 .banner .lady{ 
    bottom:10px;
    position: absolute;
    left:75px;
     
 }
}

