*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100%;
    background-color:black;
}
.sidebar{
    min-width:250px;
    min-height:100%;
    position: fixed;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    background-color: red;

}
.logo{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.nav-links{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.nav-links li{
    padding: 10px;
    margin: 0 0 5px 0;
    border:1px solid black;
    background-color: black;
    
}
.nav-links li a {
    color:#fff;
    text-decoration: none;
    margin-left: 25px;
   
    
}
.nav-links img {
    vertical-align: middle;
    display: inline-block;
}
.upgrade{
    width:90%;
    padding: 0 0 5px;
    margin:10px;
    border-radius: 10px;
    align-items: center;
    background-color: #edececfb;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 14px 29px -48px rgba(201,198,198,0.75);
}