*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100%;
    background-color:black;
    display: flex;
    
}
.sidebar{
    min-width:382px;
    min-height:100%;
    position: fixed;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    background-color: #fff;

}
.logo{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.nav-links{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.nav-links li{
    padding: 10px;
    margin: 0 0 5px 0;
    border:1px solid black;
    background-color: black;
    
}
.nav-links li a {
    color:#fff;
    text-decoration: none;
    margin-left: 25px;
   
    
}
.nav-links img {
    vertical-align: middle;
    display: inline-block;
}
.upgrade{
    width:90%;
    padding: 0 0 5px;
    margin:10px;
    border-radius: 10px;
    align-items: center;
    background-color: #edececfb;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 14px 29px -48px rgba(201,198,198,0.75);
}

/*----HEADER----*/
.container{
    position: absolute;
    right:0;
    width: 90vw;
    height: 100vh;
    background: #f1f1f1;
  
   
}
.container .header{
    position: fixed;
    right:0;
    top:0;
    width:78vw;
    height:10vh;
    background: #fff;
    border: 1px solid red;
    display: flex;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container .header .nav{
  width:90%;
  display: flex;
  align-items: center;
}

.form{
    width:100%;
    position: relative;
    
}
form.example input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    border-radius: 25px;
    background: #f1f1f1;
  }
  
  form.example img {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 37px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  